.lead{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 984px;
    box-sizing: border-box;
}

/*проверочная точка*/
@media screen and (max-width: 1152px){
    .lead{
        max-width: 1024px;
        padding: 0 48px;
    }
}

/*проверочная точка*/
@media screen and (max-width: 896px){
    .lead{
        padding: 0;
    }
}

@media screen and (max-width: 500px){
    .lead__main-illustration{
        margin-top: 40px;
        padding: 0 16px 0 16px;
    }
}